.navbar {
    background-color: black;
    padding: 30px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-links {
    color: white;
    text-decoration: none;
  }
  
  .nav-links:hover {
    border-bottom: 2px solid white;
  }
  .JAR {
    max-height: 120px; 
    max-width: 120px;
    object-fit: contain; 
  }